@font-face {
    font-family: roboto;
    src: url(fonts/Roboto-Medium.ttf);
}

:root {
    --theme-one: #3b82f6;
    --theme-two: rgb(223, 228, 236);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.container {
    font-family: 'roboto';
    display: grid;
    height: 100vh;
    grid-template: 1fr 6fr / 1fr 5fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main-content"
    ;
    
}

/* ---------------HEADER--------------------------- */

.header {
    grid-area: header;
    display: grid;
    grid-template-rows: 1fr  51r;
    background-color: white;
    padding: 20px 30px 15px 30px;
}

.head {
    display: grid;
    grid-template-columns: 8fr 1fr 1fr 1fr;
    /* align-items: center; */
    padding-bottom: 20px;
    /* justify-items: center; */
}

.search {
    display: flex;
    align-items: center;
}

#search {
    height: 30px;
    width: max(300px, 30vw);
    background-color: var(--theme-two);
    border-radius: 25px;
    border-style: none;
    padding-left: 15px;
    margin-left: 20px ;
    font-size: 20px;
}

.head-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.head-img {
    width: 2rem;
    border-radius: 50px;
    }

.head-name {
    display: flex;
    align-items: center;
    text-align: center;
}

.welcome {
    display: grid;
    grid-template-columns: 1fr 7fr 2fr 2fr 2fr;
}

.welcome-container {
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.welcome-img {
    display: flex;
    justify-content: center;
    width:3rem;
    border-radius: 50px;
}

.welcome-salute, 
.welcome-name {
    display: flex;
    align-items: flex-end;
}


.button-box {
    display: flex;
    justify-content: end;
    align-items: center;
}

.new,
.open,
.share {
    width: clamp(51px, 60%, 150px);
    height: clamp(32px, 60%, 150px);
    border-radius: 20px;
    border-style: none;
    background-color: var(--theme-one);
    color: white;
}

.new:hover,
.open:hover,
.share:hover {
    scale: 1.04;
    transition: .3s;
}

/* -----------------SIDEBAR--------------------- */

.sidebar {
    grid-area: sidebar;
    background-color:var(--theme-one);
    color: white;
    display: grid;
    grid-template-rows: 90px 6fr ;
    padding: 20px;
}

.side-logo {
display: flex;
align-items: center;
justify-content: start;
padding-bottom: 40px;

} 

.side-nav {
    display: grid;      
    grid-template-rows: 1fr 1fr;
    max-height: 10vh;
    /* padding-top: 20px; */
    font-size: 17px;
    gap: 50px
}

.nav-list {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 8px;

}

.options {
    display: grid;  
    grid-template-rows: 1fr 1fr 1fr 3fr;
    gap: 8px;
    padding-top: 20px;
}

ul {
    list-style: none;
}

.side-group {
    display: grid;
    grid-template-columns: 3em 3fr;
    align-items: center;
    gap: 7px
}

.side-group:hover {
    scale: 1.08;
    transition: .4s;
    text-shadow: 10px 10px 10px rgb(21, 32, 92);
}

.side-icon {
    height: 2rem;
}

.side-icon-logo {
    height: 40px;
}

/* svg {
    color: red;
} */

/* -----------MAIN-CONTENT------------- */

.main-content {
    grid-area: main-content;
    background-color: var(--theme-two);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 13fr;
}

.tile-header{
    display: flex;
    background-color: var(--theme-two);
    padding-left: 20px;
    font-size: 18px;
    align-items: flex-end;
}

.tile-container {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr); 
    gap: 20px;
    background-color: var(--theme-two);
    padding: 8px 20px 20px 20px;
    
    
}

.tile {
    display: grid;
    grid-template-columns: 1fr 40fr;
    grid-template-rows: 2fr 6fr 2fr;
    gap: 8px;
    min-width: 312px;
    overflow: hidden;
    /* min-width: 200px; */
    /* align-items: center; */
    background-color: white;
    border-radius: 3%;
    grid-template-areas: 
    "tile-color tile-head"
    "tile-color tile-body"
    "tile-color tile-foot"
    ;
}

.tile-color {
    grid-area: tile-color;
    /* fill: red; */
    background-color: #F6AF3B;
    /* border-radius: 30px 0 0 30px; */
    
}

.tile-head {
    grid-area: tile-head;
    font-size: 18px;
    padding-top: 15px;
    /* padding-left: 10px; */
    

}

.tile-body {
    grid-area: tile-body;
    color: rgb(119, 118, 118);
    font-size: 14px;
    padding-right: 8px;

}

.tile-foot {
    grid-area: tile-foot;
    display: flex;
    justify-content: end;

    /* padding-left: 10px; */
    /* padding-bottom: 20px; */
}

.foot-icon {
    height: 2rem;
    padding: 0 12px 8px 0;
    color: rgb(119, 118, 118);
}

.foot-icon:hover {
    color: var(--theme-one);
    scale: 1.08;
    transition: .3s;
}

.panel-header {
    display: flex;
    background-color: var(--theme-two);
    padding-left: 20px;
    font-size: 18px;
    align-items: end
}
.panel {
    display: grid;
    grid-template-rows: 10fr 1fr 10fr;
    /* gap: 20px; */
    max-height: 90vh;
    background-color: var(--theme-two);
    padding: 0 20px 20px 20px;
}

.trend-head {
    display: flex;
    align-items: end;
    font-size: 18px;
}

.panel-one,
.panel-two {
    background-color: white;
    padding: 20px;
    margin-top: 8px;
    border-radius: 3%;
    height: clamp(250px, 40vh, 600px);
    min-width: 220px;
}

.panel-one {
    margin-bottom: 20px;
}
